* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

img {
    vertical-align: center;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

.common-display {
    width: 80%;
    margin: 0 auto;
}

/* ====================== header part start ================== */
.menu{
    background:#ddd;
    line-height: 50px;
    text-align: right;
}

.menu ul li {
    display: inline-block;
    position: relative;
    text-align: center;

}
.menu ul li ul{
    position: absolute;
    background: #ddd;
    width: 200px;
    left: -41px;
    display: none;
}
.menu ul li ul li ul{
        position: absolute;
        left: 100%;
        top: 15px;
}
.menu ul li ul li{
    width: 100%;
}
.menu ul li:hover > ul{
    display: block;
}
.menu ul li a{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight:500;
    font-size: 15px;
    color: #0a0a0ad2;
    text-transform: capitalize;
    padding: 0 30px;
    display: block;

}
.menu ul li a:hover{
    background:aqua;
}


/* ====================== header part end ================== */






/* ====================== header part start ================== */
/* ====================== header part end ================== */
/* ====================== header part start ================== */
/* ====================== header part end ================== */
/* ====================== header part start ================== */
/* ====================== header part end ================== */